services:
  app:
    build: .
    environment:
      - TZ=${TZ}
    env_file:
      - .env
    volumes:
      - ./:/app
      - ./outputs:/app/outputs
      - ./data:/app/data
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: sse
    ports:
      - "5432:5432"
    volumes:
      - sse_pg:/var/lib/postgresql/data

volumes:
  sse_pg:
